html, body, .leaflet-container, body>div { height: 100% }
.location-marker {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 10px;
  height: 10px;
  font-weight: bold;
  margin-left: -5px;
  margin-top: -5px;
  background-image: url('../images/dot.png');
}