<div class="protest">
  <div class="self-center index-box text-center">
    <p>
      <img src='assets/images/full-logo.png'>
    </p>
    <h4>
      Emergency Flood Parking not currently in effect.
    </h4>
    <div class="email-signup-form">
      {{input type="text" value=email class="input-item" placeholder="Email address"}}
      <a class="btn-floating btn-large {{unless isValid 'disabled'}}" {{action "subscribe"}}>
        <i class="material-icons">mail</i>
      </a>
    </div>
  </div>
</div>