<div class="protest">
  <img class="logo" src='../images/Terrain_White.png'>
  <div class="self-center index-box text-center">
    <h4>
      Emergency Flood Parking not currently in effect.
    </h4>
    <div class="email-signup-form">
      {{#if display}}
        <p>
          <div class="input-group">
            <span class="input-group-addon">
              {{i-fa icon="phone"}}
            </span>
            {{input type="number" value=phone placeholder="Phone" class="form-control"}}
          </div>
        </p>
        <p>
          <button class="btn btn-xs btn-warning" {{action "signup"}}>
            Signup
          </button>
        </p>
      {{/if}}
      <p>
        {{feedback}}
      </p>
    </div>
  </div>
</div>