<div class="protest">
  <div class="self-center index-box text-center">
    <p>
      <img src='assets/images/full-logo.png'>
    </p>
    <h4>
      Emergency Flood Parking not currently in effect.
    </h4>
    <div class="email-signup-form">
      {{#if display}}
        <p>
          {{input type="number" value=phone placeholder="Signup for alerts" class="phone-input"}}
        </p>
        <p>
          <button class="btn btn-xs btn-warning" {{action "signup"}}>
            Signup
          </button>
        </p>
      {{/if}}
      <p>
        {{feedback}}
      </p>
    </div>
  </div>
</div>