<div class="text-center">
  <h4>You have been assigned a spot:</h4>
  <h4>
    <a href="https://www.google.com/maps/place/{{model.lat}},{{model.lng}}">
      <button class="btn btn-warning">
        Go there
      </button>
    </a>
  </h4>
  <h4>
    It's {{model.distanceFromMe}} miles away.
  </h4>
</div>